<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script type="text/javascript" src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
    <div>n: {{clickTimes}}</div>
    <button @click="clickOnce()">点我 N + 1</button>
    <button @click="clickTimes--">点我 N - 1</button>
    <div v-show="clickTimes === 1">Angular</div>
    <div v-show="clickTimes === 2">React</div>
    <div v-show="clickTimes === 3">Vue</div>
    <hr>
    <div v-if="clickTimes === -1">Angular</div>
    <div v-else-if="clickTimes === -2">React</div>
    <div v-else-if="clickTimes === -3">Vue</div>
    <div v-else>...</div>
    <hr>
    <template v-if="clickTimes === 4">
        <h1>inner temolate</h1>
    </template>

</div>
<script type="application/javascript">
    const vm = new Vue({
        el: '#root',
        data: {
            clickTimes: 0
        },
        methods: {
            clickOnce(){
                console.log('1')
                this.clickTimes++
            }
        }
    })
</script>
</body>
</html>
