<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>3. 姓名案例-计算属性.html</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
        input {
            width: 400px;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <!-- setTimeout 回调函数写到 vue methods 里能不能被 vue 回调？ -->
    <!-- 行不通，setTimeout 并不能阻塞主线程 -->

    <div id="root">
        <form action="changeName" method="post">
            名：<input type="text" name="firstName" v-model="firstName"><br>
            姓：<input type="text" name="lastName" v-model="lastName"><br>
            全名(watch)：<span>{{fullName}}</span><br>
            <input type="submit" value="changeName">
        </form>
    </div>

    <script type="text/javascript">
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: 'Nickolas',
                lastName: 'Sun'
            },
            computed: {
                fullName: function () {
                    var temp  = '';
                    setTimeout(this.mFullName(temp), 1000);
                    return temp;
                }
            },
            watch: {
                firstName(val) {
                    console.log('wathc.firstName be invoked')
                    setTimeout(this.mFullName, 1000);
                    // this.fullName = this.mFullName();
                },
                lastName() {
                    console.log('wathc.lastName be invoked')
                    setTimeout(this.mFullName, 1000);
                    // this.fullName = this.mFullName();
                }
            },
            methods: {
                mFullName(temp) {
                    console.log('computed.fullName.get invoked')
                    var d2 = 2.3
                    for (var i2 = 0; i2 < 3000000; i2++) {
                        d2 = d2 + 3.1415926
                    }
                    temp = this.firstName.toUpperCase()
                        + ' · '
                        + this.lastName.toUpperCase()
                        + " "
                        + new Date().getMilliseconds()
                }
            },
        })
    </script>

</body>

</html>