<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本列表</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">

    <ul>
        <li v-for="p in personList" :key="p.id">
            姓名：{{p.name}}， 年龄：{{p.age}}
        </li>
    </ul>
    <hr/>
    <div v-for="(val, key, index) in car" :key="index">
        {{key}} ---- {{val}} ---- {{index}}
    </div>
    <hr/>
    <ul>
        <li v-for="(number, index) in 4" :key="index">
            value: {{number}}, index: {{index}}
        </li>
    </ul>

</div>
<script type="application/javascript">
    const vm = new Vue({
        el: "#root",
        data: {
            personList: [
                {id: "P001", name: "张三", age: 13},
                {id: "P002", name: "李四", age: 14},
                {id: "P003", name: "王五", age: 15},
                {id: "P004", name: "赵六", age: 16},

            ],
            car: {
                name: "小米汽车",
                price: "29.89万",
                color: "白色"
            }
        }
    })
</script>
</body>
</html>